footer {
    background-color: #000;
    color: #fff;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-container {
    display: flex;
    flex-wrap: nowrap; /* Không xếp dàn trang các div con */
    justify-content: space-around; /* Căn giữa các div con */
}

.footer-container > div {
    flex: 1; /* Mỗi div con chiếm 1 phần bằng nhau */
    margin: 10px;
}

.footer-container>div {
    margin: 10px;
    flex: 1; /* Chia footer thành 5 cột trên một hàng */
}

.subscribe input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.subscribe button {
    padding: 10px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-container h4,
.footer-container h3 {
    margin-bottom: 15px;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container a {
    text-decoration: none;
    color: #fff;
}

.download-app img {
    width: 100px;
    align-items: center;
}

.app-links img {
    width: 100%; /* Đảm bảo hình ảnh mở rộng hết phần tử cha */
    max-width: 150px; /* Giới hạn chiều rộng tối đa để không quá to */
    margin-top: 10px; /* Khoảng cách với phần tử trên đó */
}

.social-icons {
    display: flex;
    justify-content: flex-start; /* Căn giữa các biểu tượng */
}

.social-icons a {
    display: inline-block;
    margin: 0 10px; /* Khoảng cách giữa các biểu tượng */
    padding: 0; /* Xóa padding mặc định của thẻ <a> */
}

.social-icons a i {
    font-size: 24px; /* Kích thước biểu tượng */
    color: #ffffff; /* Màu sắc của biểu tượng */
    transition: color 0.3s ease; /* Hiệu ứng màu khi di chuột qua */
}

.social-icons a:hover i {
    color: #ff6347; /* Màu sắc khi di chuột qua */
}

.social-icons a i:hover {
    color: #ff6347; /* Điều chỉnh màu sắc khi di chuột qua */
}
